<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My login form</title>
</head>
<body class="img-responsive" background="https://media.istockphoto.com/photos/futuristic-digital-block-chain-background-picture-id1212911887?k=20&m=1212911887&s=612x612&w=0&h=W7cA4FP_AS2UkZPSNKqFMyWfvV9tAmNCS9RMunKQc9s=" >
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!-- include nav bar using header(html file)-->
    {% include 'include/header.html' %}
    <!--end including html file -->

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                <!--Register form-->
            <form method="post">
              {% csrf_token %}
              <div class="form-outline form-white mb-4">
                <input type="text" class="form-control form-control-lg" name="first_name" />
                <label class="form-label">first name</label>
              </div>
              <div class="form-outline form-white mb-4">
                <input type="text" class="form-control form-control-lg" name="last_name" />
                <label class="form-label">last name</label>
              </div>
              <div class="form-outline form-white mb-4">
                <input type="text" class="form-control form-control-lg" name="username" />
                <label class="form-label">username</label>
              </div>
              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg" name="email" />
                <label class="form-label" for="typeEmailX">Email</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" name="password" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>

                <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" name="rpt_password" />
                <label class="form-label" for="typePasswordX">Repeat Password</label>
              </div>
              <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
                </form>
                <!--Register form ends here-->
          </div>
            <div>
              {% for message in messages %}
              <h3>{{message}}</h3>
              {% endfor %}
            </div>
            <div>
              <p class="mb-0">Already have an account <a href="/login" class="text-white-50 fw-bold">sign in</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>